//
// Audio
//
// @version 1.0.0
//
// Outputs wp-block-audio styles

.wp-block-audio {

  audio {
    margin-bottom: -10px;
    width: 100%;
  }

  figcaption {
    font-size: 1em;
    color: inherit;
    margin-bottom: 0;
    text-align: center;

    a {
      color: $beehive-primary;
    }
  }

  &.alignleft,
  &.alignright {
    width: 100%;
  }
}