@-webkit-keyframes loader-pulsate {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1.0; }
  100% {
    opacity: 0.5; } }
@-moz-keyframes loader-pulsate {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1.0; }
  100% {
    opacity: 0.5; } }
@keyframes loader-pulsate {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1.0; }
  100% {
    opacity: 0.5; } }
.buttons-container {
  margin-top: 1.5rem; }
  .buttons-container input,
  .buttons-container button {
    width: 100%;
    margin-bottom: .25rem; }
    .buttons-container input[type="submit"].button.cancel,
    .buttons-container button[type="submit"].button.cancel {
      background: none;
      color: #5561e2;
      box-shadow: none;
      border: none; }

.editor-container {
  width: 100%;
  position: relative; }

#post-maker-container > form {
  margin-left: -15px;
  margin-right: -15px; }
  #post-maker-container > form > *:not(.sa-field-content) {
    margin-left: 15px;
    margin-right: 15px;
    clear: both; }

.sa-field-content {
  float: left;
  position: relative;
  width: calc(50% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px; }
  @media screen and (max-width: 575.98px) {
    .sa-field-content {
      width: calc(100% - 30px) !important; } }

.status-label {
  float: left !important; }

.messages-container {
  text-align: center; }
  .messages-container label {
    margin-bottom: 1rem; }
  @media screen and (max-width: 575.98px) {
    .messages-container input[type="submit"] {
      display: block;
      width: 100%;
      margin-bottom: .25rem; } }

#post-maker-container {
  position: relative; }

.social-articles-main .titlelabel {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1em; }
.social-articles-main .date {
  color: #838daa; }
.social-articles-main .article-container {
  position: relative;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #e7edf2; }
  @media screen and (min-width: 575.98px) {
    .social-articles-main .article-container .article-content {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .social-articles-main .article-container .article-content .article-metadata {
    position: absolute;
    left: 50px;
    transform: translateX(-50%);
    top: 60px;
    z-index: 1; }
    .social-articles-main .article-container .article-content .article-metadata .author-options a {
      text-decoration: none; }
    @media screen and (max-width: 575.98px) {
      .social-articles-main .article-container .article-content .article-metadata .author-options a {
        color: #fff;
        text-decoration: none; } }
    @media screen and (min-width: 575.98px) {
      .social-articles-main .article-container .article-content .article-metadata {
        top: 0;
        left: unset;
        right: 0;
        transform: unset;
        visibility: hidden; }
        .social-articles-main .article-container .article-content .article-metadata .author-options a:not(:hover) {
          color: inherit; } }
  .social-articles-main .article-container .article-content .article-image {
    background-color: #ccc !important;
    background-size: cover !important;
    background-position: center !important;
    max-width: 100px;
    width: 100px;
    max-height: 100px;
    height: 100px;
    float: left;
    border-radius: 12px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    box-shadow: 0 16px 30px -20px #3a2e44; }
    @media screen and (min-width: 575.98px) {
      .social-articles-main .article-container .article-content .article-image {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 30%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 30%;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
        width: 100%;
        max-height: 130px;
        height: 130px;
        margin: 0;
        float: none; } }
  .social-articles-main .article-container .article-content .article-data {
    position: relative; }
    @media screen and (min-width: 575.98px) {
      .social-articles-main .article-container .article-content .article-data {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 70%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 70%;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
        width: 100%;
        padding-left: 1rem; } }
    .social-articles-main .article-container .article-content .article-data h3 {
      font-size: 1.359em;
      margin-bottom: .25rem; }
      .social-articles-main .article-container .article-content .article-data h3 > a {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden; }
        @media screen and (min-width: 575.98px) {
          .social-articles-main .article-container .article-content .article-data h3 > a {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden; } }
    .social-articles-main .article-container .article-content .article-data .date {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
      -moz-order: -1;
      -ms-flex-order: -1;
      order: -1; }
    @media screen and (min-width: 575.98px) {
      .social-articles-main .article-container .article-content .article-data .excerpt {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden; } }
  .social-articles-main .article-container .article-content .article-footer {
    margin-top: 1rem;
    clear: both; }
    @media screen and (min-width: 575.98px) {
      .social-articles-main .article-container .article-content .article-footer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%; } }
    .social-articles-main .article-container .article-content .article-footer .article-categories {
      color: #838daa; }
      @media screen and (min-width: 575.98px) {
        .social-articles-main .article-container .article-content .article-footer .article-categories {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 50%;
          -moz-box-flex: 0;
          -moz-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
          width: 100%;
          white-space: nowrap;
          width: 100%;
          display: block;
          text-overflow: ellipsis;
          overflow: hidden; } }
    @media screen and (min-width: 575.98px) {
      .social-articles-main .article-container .article-content .article-footer .article-likes,
      .social-articles-main .article-container .article-content .article-footer .article-comments {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
        text-align: right; } }
    .social-articles-main .article-container .article-content .article-footer .article-likes > a,
    .social-articles-main .article-container .article-content .article-footer .article-comments > a {
      color: #838daa; }
  @media screen and (min-width: 575.98px) {
    .social-articles-main .article-container:hover .article-content .article-metadata {
      visibility: visible;
      transition: visibility 10s; } }
.social-articles-main .more-articles-button-container {
  text-align: center;
  width: 100%; }
.social-articles-main #more-articles-loader {
  display: none;
  width: 40px;
  margin: auto; }
.social-articles-main .deleting {
  -moz-animation: loader-pulsate 0.5s infinite ease-in-out alternate;
  -webkit-animation: loader-pulsate 0.5s infinite ease-in-out alternate;
  animation: loader-pulsate 0.5s infinite ease-in-out alternate; }

.sa-error-container {
  background-color: #fff;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  border: 1px solid #e7edf2;
  border-top: 2px solid #ff0000;
  border-radius: 12px;
  box-shadow: 0 8px 6px -6px rgba(58, 46, 68, 0.05); }
  .sa-error-container p {
    margin: 0; }

.article-status {
  margin-left: .25rem;
  padding-left: .75rem;
  padding-right: .75rem;
  border-radius: 20px; }

.sa-post-status-container {
  background-color: #fff;
  width: calc(100% - 30px);
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  border: 1px solid #e7edf2;
  border-top: 2px solid #5561e2;
  border-radius: 12px;
  box-shadow: 0 8px 6px -6px rgba(58, 46, 68, 0.05); }
  .sa-post-status-container .publish {
    background-color: #2ed573;
    color: #fff; }
  .sa-post-status-container .pending {
    background: #ffa500;
    color: #fff; }
  .sa-post-status-container .draft {
    background: #ff0000;
    color: #fff; }
  .sa-post-status-container .new-post {
    background: #5561e2;
    color: #fff; }

.author-options .edit,
.author-options .delete {
  display: inline-block;
  border: 1px solid #e7edf2;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center; }
.author-options .edit::before {
  content: "\eb0d";
  font-family: 'unicons'; }
.author-options .delete::before {
  content: "\ebf8";
  font-family: 'unicons'; }

.social-loader {
  background: url("../../assets/images/loading.svg") no-repeat;
  width: 30px !important;
  height: 14px !important;
  float: right;
  margin-top: 8px !important;
  display: none; }

.publish-container,
.articles-container {
  display: block;
  width: 100%; }

.pending-container,
.draft-container {
  display: none;
  width: 100%; }

#save-message {
  display: block; }

.mce-toolbar .mce-btn button,
.qt-dfw {
  border: none !important; }

.delete-logo {
  padding: .125rem .5rem;
  margin-right: 2px;
  position: absolute;
  right: 2px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.5);
  top: 5px;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 20px; }

.qq-upload-drop-area {
  background: #f7f7f7;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  text-align: center;
  padding-top: 75px; }

.qq-upload-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .qq-upload-list li {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    padding: .5rem;
    float: left;
    background: #f8f9fb;
    margin-bottom: .5rem;
    position: relative;
    border-radius: 12px; }

.qq-progress-bar {
  float: left;
  height: 2px;
  background: #2ed573 !important; }

.qq-upload-cancel,
.qq-upload-size {
  position: absolute;
  top: 12px;
  right: .5rem; }

.qq-upload-cancel {
  color: red; }

.qq-upload-size {
  right: 70px; }

.qq-upload-file {
  margin-right: 15px;
  float: left;
  width: 100%;
  text-align: left; }

.qq-upload-failed-text {
  display: none; }

.qq-upload-button {
  background-color: transparent;
  white-space: nowrap;
  color: #5561e2;
  fill: #5561e2;
  border: 1px solid #5561e2;
  border-radius: 30px;
  padding: .375rem 2rem;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  outline: none;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgba(58, 46, 68, 0.08); }
  .qq-upload-button:hover, .qq-upload-button:active, .qq-upload-button:focus {
    background-color: #5561e2;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(58, 46, 68, 0.08);
    transition: all 750ms ease; }

.sa-upload-image-container {
  position: relative;
  width: 100%;
  float: left;
  border: 2px dashed #e7edf2;
  border-radius: 12px;
  overflow: hidden; }
  .sa-upload-image-container #sa_featured_image-image-button {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important; }

.sa-image-container {
  text-align: center; }

.logo-image-error-container {
  background-color: #ff0000;
  color: #fff;
  padding: 0 .5rem;
  text-align: center; }

.qq-upload-max-size {
  padding-top: .75rem;
  font-size: 90%; }

.logo-image-attaching {
  width: 100%;
  text-align: center;
  background: #fff;
  z-index: 10;
  padding: 2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

body.articles.bp-user:not(.bp-is-my-profile) .profile-col-main > .user-subnav {
  display: none; }
