/*
 * bp-nouveau styling: invite members, sent invites
 * @version 3.0.0
 */
.buddypress {

	.bp-invites-content {

		ul.item-list {
			padding: 0;
			margin: 0;
			
			> li {
				width: auto;
				padding: .5rem .75rem !important;
				margin-bottom: 4px !important;
				border: 1px solid $bp-border-color;
				border-radius: 12px;
				text-align: left;
			}

			li {
				position: relative;
				
				.item-avatar {
					margin-right: .5rem;
					margin-bottom: 0;
					float: left;
					
					img.avatar{
						width: 30px;
					} 
				}
				
				.item{
					display: -ms-flexbox;
					display: flex;
					float: none;
					
					.item-meta{
						margin: 0;
						margin-left: 5px;
						line-height: 30px;
						font-size: 90%;
					}
					
					@include medium-max() {
					
						.item-meta {
							display: none;
						}
					}
				}

				.list-title {
					font-weight: 600;
					font-size: 1em;
					line-height: 30px;
					white-space: nowrap;
					text-overflow: ellipsis;
					max-width: 160px;
					display: block;
					overflow: hidden;
				}

				.action {
					position: absolute;
					top: .5rem;
					right: .75rem;
					
					button {
						min-height: initial;
						height: 30px;
						padding: 0 1.25rem;
					}
				}

			} // close li

			li.selected {

				@include box-shadow(inset 0 0 12px 0 rgba($golden, 0.2) );
			}

		} // close ul

		.item-list .item-meta span,
		.group-inviters li {
			color: $bp-mute;
		}

		li {

			ul.group-inviters {
				clear: both;
				margin: 0;
				padding: 0;
				overflow: hidden;

				li {
					border: 0;
					float: left;
					margin-right: .25rem;
					
					img.avatar{
						width: 15px;
					}
				}
			} // close .group-inviters

			.status {
				display: none;
				font-size: 90%;
				clear: both;
			}

		} // close li

		@include clearfix-element("#send-invites-editor ul");

		#send-invites-editor {

			textarea {
				width: 100%;
			}

			ul {
				clear: both;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					float: left;
					margin: 0.5%;
					max-height: 40px;
					max-width: 40px;
				}
			} // ul

			#bp-send-invites-form {
				clear: both;
				margin-top: $marg-sml;
			}

			.action {
				margin-top: .5rem;
				@include flex-box-dir();

				.bp-primary-action {
					order: -1;
					margin-right: .25rem;
				}
			}

		} // close #send-invites-editor

		#send-invites-editor.bp-hide {
			display: none;
		}

		

	} // close bp-invites-content
}