//
// Beehive Primary SCSS
//
// This file compiles to beehive.css
// @version 1.0.0
//

// Import theme partials mixins & variables files

@import "_variables";
@import "_mixins";

/*
===========================================================================================
  Theme: Beehive 
  Description: Social Network Theme
  Author: thunder-team
  Version: 1.0.0
===========================================================================================
  [[[ Table of Contents ]]]
  -----------------------------------------------------------------------------------------
  - body
  - Common styles
  - Forms
  - Buttons
  - Tables
  - Grid columns
  - Navigations
  - Title Bar
  - Social Panel
  - Layouts
  - Social icons
  - Widgets
  - WordPress
    - Posts
    - Paginations
    - Post navigation
    - Related posts
    - Comments
    - WordPress player
    - Playlists
  - Elements
	- 404 error
  - Modals 
	- Animations
  - Miscellaneous
  - Footer
*/

/* 
===========================================================================================
Body
===========================================================================================
*/
html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $beehive-body-font-family;
  color: $beehive-text;
  font-size: $beehive-body-font-size;
  line-height: $beehive-body-line-height;
}

/* 
===========================================================================================
Common styles
===========================================================================================
*/

// Load Typography Styles
@import "theme-styles/_common";

/* 
===========================================================================================
Forms
===========================================================================================
*/

// Load html tag styles
@import "theme-styles/_forms";

/* 
===========================================================================================
Buttons
===========================================================================================
*/

// Load button styles
@import "theme-styles/_buttons";

/* 
===========================================================================================
Tables
===========================================================================================
*/

// Load table styles
@import "theme-styles/_tables";

/* 
===========================================================================================
Grid columns
===========================================================================================
*/

// Load grid columns
@import "theme-styles/_grid_columns";

/* 
===========================================================================================
Theme navigations
===========================================================================================
*/

// Load menu styles
@import "theme-styles/_navigations"; 

/* 
===========================================================================================
Title Bar
===========================================================================================
*/

// Load title bar
@import "theme-styles/_title_bar";

/* 
===========================================================================================
Social Panel
===========================================================================================
*/

// Load social panel
@import "theme-styles/_social_panel";

/* 
===========================================================================================
Layouts
===========================================================================================
*/

// Load layouts
@import "theme-styles/_layout";

/* 
===========================================================================================
Social icons
===========================================================================================
*/

// Load layouts
@import "theme-styles/_social";

/* 
===========================================================================================
Widgets
===========================================================================================
*/

// Load widgets styles
@import "theme-styles/_widgets";

/* 
===========================================================================================
WordPress
===========================================================================================
*/

/* Posts
   ------------------------------------------------------------------------------------- */

// Load wp posts styles 
@import "theme-styles/_posts";
// Load wp blocks styles
@import "theme-styles/_wp_blocks";

/* Paginations
   ------------------------------------------------------------------------------------- */

// Load wp pagination styles 
@import "theme-styles/_pagination";

/* Post Navigation
   ------------------------------------------------------------------------------------- */

// Load wp post navigation 
@import "theme-styles/_post_navigation";

/* Related Post
   ------------------------------------------------------------------------------------- */

// Load related posts
@import "theme-styles/_related_posts";

/* Comments
   ------------------------------------------------------------------------------------- */
   
// Load wp comments styles 
@import "theme-styles/_comments";

/* WordPress player
   ------------------------------------------------------------------------------------- */
@import "theme-styles/_mejs_player";

/* Playlists
   ------------------------------------------------------------------------------------- */
@import "theme-styles/_playlist";

/* 
===========================================================================================
Elements
===========================================================================================
*/

@import "theme-styles/_elements";

/* 
===========================================================================================
404 Error Page
===========================================================================================
*/

// Load 404 error styles
@import "theme-styles/_error_page";

/* 
===========================================================================================
Modals
===========================================================================================
*/

// Load modal styles
@import "theme-styles/_modals";

/* 
===========================================================================================
Animations
===========================================================================================
*/

// Load css3 animations
@import "theme-styles/_animations";

/* 
===========================================================================================
Miscellaneous
===========================================================================================
*/

// Load miscellaneous styles
@import "theme-styles/_miscellaneous";

/* 
===========================================================================================
Footer
===========================================================================================
*/

// Load footer styles
@import "theme-styles/_footer";