// Provides any animation or transition type effects for BP elements
// @version 3.0.0

// Fade in hover transition
#buddypress-wrap {

	* {
		transition: opacity 0.1s ease-in-out 0.1s;
	}

	button,
	a.generic-button,
	a.button,
	input[type="submit"],
	input[type="reset"] {
		transition: background 0.1s ease-in-out 0.1s, color 0.1s ease-in-out 0.1s, border-color 0.1s ease-in-out 0.1s;
	}

}

// Historical animation sequence for ajax loading effects.
// Ajax Animations and styles
// scss-lint:disable VendorPrefix
.buddypress-wrap {

	a.loading,
	input.loading {
		-moz-animation: loader-pulsate 0.5s infinite ease-in-out alternate;
		-webkit-animation: loader-pulsate 0.5s infinite ease-in-out alternate;
		animation: loader-pulsate 0.5s infinite ease-in-out alternate;
	}

	@-webkit-keyframes loader-pulsate {

		0% { 
			opacity: 0.5;
		}

		50% { 
			opacity: 1.0;
		}
		
		100% { 
			opacity: 0.5;
		}
	}

	@-moz-keyframes loader-pulsate {

		0% { 
			opacity: 0.5;
		}

		50% { 
			opacity: 1.0;
		}
		
		100% { 
			opacity: 0.5;
		}
	}

	@keyframes loader-pulsate {

		0% { 
			opacity: 0.5;
		}

		50% { 
			opacity: 1.0;
		}
		
		100% { 
			opacity: 0.5;
		}
	}

	@keyframes animatedgradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
}
// scss-lint:enable VendorPrefix
